#site-content {
  background-color: #fff;
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
  border: 2px solid #000;
}
.container{
  background-color: #fff;
  width: 50vw;
  margin: 0 auto;
  border: 2px solid #000;
  display: flex;
  flex-flow: row nowrap;
}
.container > input{
  width: 50%;
  height: 2rem;
  font-size: 1.5rem;
  border: #000 2px solid;
  padding: 50px;
  margin: 15px;
}