html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#site-content {
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMyIgaGVpZ2h0PSIzIj4KICA8Y2lyY2xlIGN4PSIzLjUiIGN5PSIzLjUiIHI9IjEuNSIgZmlsbD0ibGF5ZXIiLz4KPC9zdmc+Cg=="),
    auto;
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  border: 2px solid #000;
  position: relative;
}

#site-content > .x-line,
#site-content > .y-line {
  position: absolute;
  background-color: #000;
  z-index: 1;
}

#site-content > .x-line {
  width: 100%;
  height: 1px;
}

#site-content > .y-line {
  width: 1px;
  height: 100%;
}
#position{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}